@charset="UTF-8";

header div{
	font-family: "Oswald";
	font-size: 25px;
	text-align: right;
	color: #CACAC5;
}


#name {
	font-family: "Oswald"
	font-size:28px;
	text-align: center;
	color: #CACAC5;
	text-decoration: underline;
	margin:0 0 0 0;

}

#gra{
	font-family: "Oswald";
	text-align: left;
	color:#1A1A19;
	text-decoration: underline;
}

#anio{
	border: 1px solid #39A4C8;
	margin: -15px 0 0 0;
}

#bot{
	border: 1px solid #39A4C8;
	color: #777777;
}

#bot2{
	border: 1px solid #39A4C8;
	color: #777777;
}

#valor {
	border: 1px solid #39A4C8;
}

#medida{
	border: 1px solid #39A4C8;
}
